/* Global */
body {
  font-family: "Roboto", sans-serif;
}

a,
a:visited {
  color: #212121;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;

  color: #212121;
}

p {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
button,
span {
  margin: 0;
  padding: 0;
}
/* Index.html */
/* Style Nav*/
.font-logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.color-logo {
  color: #2196f3;
}

.link-nav {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;

  color: #212121;
}

.link-nav:hover {
  color: #2196f3;
}

.link-nav.nav-contacts {
  color: #757575;
}

.nav-contacts:hover {
  color: #2196f3;
}

/* Style Hero */

.hero {
  background: #2f303a;
}

.h1-hero {
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

/* Style Features */
.h4-features {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.p-features {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}

/* Style Card */
.card-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;

  color: #212121;
}

.card-desc {
  font-size: 16px;
  letter-spacing: 0.03em;

  color: #757575;
}

/* Style Footer */
.color-logo-footer {
  color: #ffffff;
}

.link-footer.footer-contacts {
  font-size: 14px;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Style Portfolio.html */
.card-name-portfolio {
  font-weight: 700;
  font-size: 18px;

  letter-spacing: 0.06em;

  color: #212121;
}

.card-desc-portfolio {
  font-size: 16px;

  letter-spacing: 0.03em;

  color: #757575;
}

.address-footer {
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;

  color: #ffffff;
}

/* Containers and Flexbox*/
/* Header */
.container {
  max-width: 1600px;
  /* outline: 1px solid black; */
  margin: auto;
}

.nav-container {
  max-width: 1170px;
  display: flex;

  /* margin-left: 15px;
  margin-right: 15px; */
  /* outline: 1px solid black; */
  justify-content: center;
  margin: auto;
}

.logo-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.ul-container {
  display: flex;

  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 93px;
  justify-content: center;
}

.ul-container > li:not(:first-child) {
  margin-left: 50px;
}

.ul-contacts-container {
  display: flex;

  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
  justify-content: center;
}

.ul-contacts-container > li:not(:first-child) {
  margin-left: 50px;
}

/* Hero */
.hero {
  max-width: 1600px;
  /* outline: 1px solid black; */
  margin: auto;
  padding: 200px 0px 200px 0px;
  /* margin-bottom: 94px; */
  /* margin-left: 15px;
  margin-right: 15px; */
}

.h1-hero {
  display: block;
  width: 670px;
  text-align: center;

  margin: auto;

  /* margin-top: 200px; */
  margin-bottom: 30px;
}

.btn-hero {
  display: block;
  width: 200px;
  padding: 10px 0px;

  margin: auto;

  /* margin: 0px 500px 200px 500px; */

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-radius: 4px;
  border-style: hidden;
}

.btn-text {
  letter-spacing: 0.06em;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
}

/* Features */
.features {
  max-width: 1170px;
  /* margin-left: 15px;
  margin-right: 15px; */
  /* outline: 1px solid black; */
  margin: auto;
  /* margin-bottom: 94px; */
  padding: 94px 0px 94px 0px;
}

.ul-features {
  display: flex;
}

.ul-features > li:not(:first-child) {
  margin-left: 30px;
}

.ul-features > li > h4 {
  margin-bottom: 10px;
}

/* Product */
.product {
  max-width: 1170px;
  /* outline: 1px solid black; */
  margin: auto;
  padding-bottom: 94px;
  /* margin-left: 15px;
  margin-right: 15px; */
}

.h2-product,
.h2-team {
  text-align: center;
  margin-bottom: 50px;
}

.ul-product {
  display: flex;
}

.ul-product > li:not(:first-child) {
  margin-left: 30px;
}

/* Team */

.team {
  max-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;

  background: #f5f4fa;
  /* outline: 1px solid black; */
  /* margin-left: 15px;
  margin-right: 15px; */
}

.team-width {
  margin: auto;
  width: 1170px;
}

.ul-team {
  display: flex;
}

.ul-team > li:not(:first-child) {
  margin-left: 30px;
}

.card-style {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-name {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.card-desc {
  text-align: center;
  margin-bottom: 30px;
}

/* Footer */

.footer-container {
  max-width: 1600px;
  /* outline: 1px solid black; */
  /* margin-left: 15px;
  margin-right: 15px; */

  background: #2f303a;
}

.footer-container-width {
  width: 1170px;
  margin: auto;
}

.info {
  display: flex;
  flex-direction: column;

  padding-bottom: 60px;
  padding-top: 60px;
}

.logo-container-footer {
  display: inline-block;

  margin-bottom: 20px;
}

.address-footer {
  margin-bottom: 9px;
}
.link-footer.footer-contacts {
  margin-bottom: 9px;
}

/* .link-footer.footer-contacts.tel {
  margin-bottom: 60px;
} */

/* Portfolio.html */
/* Nav */
/* .container {
  outline: 1px solid black;
} */
/* .nav-container {
  margin-bottom: 94px;
} */

/* Filtres */
.portfolio .filtres {
  height: 44px;
  /* outline: 1px solid black; */
  display: flex;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 34px;
}

.portfolio .filtres > button:not(:first-child) {
  margin-left: 8px;
}

.btn-portfolio {
  background: #f5f4fa;
  border-color: #f5f4fa;
  border-radius: 4px;
  border-style: hidden;
}

.btn-portfolio:hover {
  background: #2196f3;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-portfolio-text {
  padding: 6px 22px 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.btn-portfolio-text:hover {
  color: #ffffff;
}

/* Projects */
.projects {
  /* outline: 1px solid black; */
  margin-bottom: 94px;
  margin-left: 15px;
  margin-right: 15px;
}

.wrap > li:not(:nth-of-type(3n - 5)) {
  margin-left: 30px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}
